* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 68px;
    background-color: #1F2833;
}

header h1 {
    color: #ff4757;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #66FCF1;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover, .active {
    color: red;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 60px 0;
    color: #fff;
}

#support-boxes div {
    width: 270px;
    height: 350px;
}

section div {
    background-color: #222;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
}

section div:hover { 
    transform: translateY(-5px);
}

section div .icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #FF4757;
}

section div h2 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

section div p {
    font-size: 0.95rem;
    margin-bottom: 15px;
    color: #ccc;
}

section div a {
    color: #FF4757;
    text-decoration: underline;
}

.contact {
    padding: 60px 0;
    background-color: #111;
    text-align: center;
}

.contact div h2{
    margin-bottom: 20px;
    font-size: 2rem;
    color: #FF4757;
}

.contact div p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #ccc;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    background-color: #1F2833;
    color: #ccc;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
      color: #fff;
}

.contact-form button {
    align-self: center;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background-color: #FF4757;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

.contact-form button:hover {
    background-color: #e63946;
    transform: scale(1.05);
}

.icon {
    margin-top: 30px;
    margin-bottom: 20px;
}

.icon a {
    color: #fff;
    margin: 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.icon a:hover {
    color: #FF4757;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
    color: #777;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.easteregg {
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 500px;
    text-decoration: none;
    font-size: 1px;
    color: #FFF;
}
